{% extends "chara_measures/base.html" %}
{% block content %}
    <div class="container">
        {% for measure in measure_datas %}
        <div class="post">
            <p>タイトル：{{ measure.title }}</p>
            <p>メモ：{{ measure.content }}</p>
            <a href="{% url 'measure_edit' measure.id %}" class="btn btn-warning mr-2">編集する</a>
            <a href="{% url 'measure_delete' measure.id %}" class="btn btn-danger">削除する</a>
            <p>--------------------</p>
        </div>
        {% endfor %}
        <div class="form">
            <a href="{% url 'measure_form' user.pk chara_id %}">新規投稿</a>
        </div>
    </div>
{% endblock %}