{% extends "chara_measures/base.html" %}
{% load static %}
{% block content %}
<table class="a-table a-table a-table" style="">
    <tbody><tr>
    <td width="25%" class="center">
    <a class="a-link" href="{% url 'chara_measure' 1 %}"><img src="{% static 'chara_icon/mario.jpg' %}" class="a-img lazy lazy-loaded" alt="マリオの画像" width="60" height="60" data-loaded="true">マリオ</a>
    
    
    
    </td>
    <td width="25%" class="center">
    <a class="a-link" href="{% url 'chara_measure' user.pk %}"><img src="{% static 'chara_icon/nes.jpg' %}" class="a-img lazy lazy-loaded" alt="ネスの画像" width="60" height="60" data-loaded="true">ネス</a>
    
    
    
    </td>
    <td width="25%" class="center">
    <a class="a-link" href="https://game8.jp/smashbros-special/223445"><img src="{% static 'chara_icon/falcon.jpg' %}" class="a-img lazy lazy-loaded" alt="キャプテン・ファルコンの画像" width="60" height="60" data-loaded="true">キャプテン・ファルコン</a>
    
    
    
    </td>
    <td width="25%" class="center">
    <a class="a-link" href="https://game8.jp/smashbros-special/223446"><img src="{% static 'chara_icon/plin.jpg' %}" class="a-img lazy lazy-loaded" alt="プリンの画像" width="60" height="60" data-loaded="true">プリン</a>
    
    
    
    </td>
    
    </tr>
    <tr>
    <td width="25%" class="center">
    <a class="a-link" href="https://game8.jp/smashbros-special/223436"><img src="{% static 'chara_icon/donkey.jpg' %}" class="a-img lazy lazy-loaded" alt="ドンキーコングの画像" width="60" height="60" data-loaded="true">ドンキーコング</a>
    
    
    
    </td>
    <td width="25%" class="center">
    <a class="a-link" href="https://game8.jp/smashbros-special/223437"><img src="{% static 'chara_icon/link.jpg' %}" class="a-img lazy lazy-loaded" alt="リンクの画像" width="60" height="60" data-loaded="true">リンク</a>
    
    
    
    </td>
    <td width="25%" class="center">
    <a class="a-link" href="https://game8.jp/smashbros-special/223438"><img src="{% static 'chara_icon/sams.jpg' %}" class="a-img lazy lazy-loaded" alt="サムスの画像" width="60" height="60" data-loaded="true">サムス</a>
    
    
    
    </td>
    <td width="25%" class="center">
    <a class="a-link" href="https://game8.jp/smashbros-special/223439"><img src="{% static 'chara_icon/yossi.jpg' %}" class="a-img lazy lazy-loaded" alt="ヨッシーの画像" width="60" height="60" data-loaded="true">ヨッシー</a>
    
    
    
    </td>
    
    </tr>
    <tr>
    <td width="25%" class="center">
    <a class="a-link" href="https://game8.jp/smashbros-special/223440"><img src="{% static 'chara_icon/kirby.jpg' %}" class="a-img lazy lazy-loaded" alt="カービィの画像" width="60" height="60" data-loaded="true">カービィ</a>
    
    
    
    </td>
    <td width="25%" class="center">
    <a class="a-link" href="https://game8.jp/smashbros-special/223441"><img src="{% static 'chara_icon/fox.jpg' %}" class="a-img lazy lazy-loaded" alt="フォックスの画像" width="60" height="60" data-loaded="true">フォックス</a>
    
    
    
    </td>
    <td width="25%" class="center">
    <a class="a-link" href="https://game8.jp/smashbros-special/223442"><img src="{% static 'chara_icon/pikachu.jpg' %}" class="a-img lazy lazy-loaded" alt="ピカチュウの画像" width="60" height="60" data-loaded="true">ピカチュウ</a>
    
    
    
    </td>
    <td width="25%" class="center">
    <a class="a-link" href="https://game8.jp/smashbros-special/223443"><img src="{% static 'chara_icon/luiji.jpg' %}" class="a-img lazy lazy-loaded" alt="ルイージの画像" width="60" height="60" data-loaded="true">ルイージ</a>
    
    
    
    </td>
    
    </tr>
    <tr>
    
    </tr>
    </tbody></table>
{% endblock %}