{% extends "chara_measures/base.html" %}
{% load widget_tweaks %}
{% block navi %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'account_logout' %}">ログアウト</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">ログイン済</a>
    </li>
{% endblock %}

{% block content %}

<div class="card card-auth my-5 mx-auto">
    <div class="card-body">
        <h5 class="card-title text-center" ><b>プロファイル編集</b></h5>
        <form class="ui form" action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <p>タイトル：<input type="text" name="user_name"></p>
            <button type="submit">送信</button>
        </form>
<!-- <form  method="post">
    {% csrf_token %}
    <div class="form-text">
        <label for="user_name"><b>ユーザー名</b></label>
        {% render_field form.user_name class="form-control" placeholder="私は" %}
    </div> -->
    <!-- <div class="form-text">
        <label for="birthday"><b>誕生日</b></label>
        {% render_field form.birthday class="form-control" placeholder="YYYY-MM-DD" %}
    </div>
      <div class="form-text">
          <label for="profile">自己紹介</label>
        {% render_field form.profile class="form-control" placeholder="私は…" %}
    </div>

      <div class="form-text">
           <label for="sound_profile">音声紹介</label>
        {% render_field form.sound_profile class="form-control" placeholder="音声紹介URL" %}
    </div> -->


    <br>

    <div aling="center">
        <button type="submit" class="btn btn-warning btn-lg" style="display:block;margin:0 auto">submit</button>

    </div>



</form>


{% endblock %}